*.DS_Store
*.exr
*.png
*.jpg
*.pyc
*.exp
*.lib
*.obj
*.pdf

*.so
*.dll
*.dylib

/tests/*
!/tests/driver_dof
!/tests/driver_sampling_equalisation
!/tests/aberrations
!/tests/po_bidir_debug
!/tests/aperture_sampling_debug
!/tests/cuda

/htoa/backup/*

!bokeh_imgs/*.png

/build/*