*.DS_Store
*.exr
*.png
*.jpg
*.pyc
*.exp
*.lib
*.obj
*.pdf

/bin/*
/tests/*
!/tests/driver_dof
!/tests/driver_sampling_equalisation
!/tests/aberrations
!/tests/po_bidir_debug
!/tests/aperture_sampling_debug

!bokeh_imgs/*.png